@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<ManageShop.Models.Product>

@{
    ViewBag.Title = "Product List";
}

    <div class="container-fluid py-2">
        <h2>Product List</h2>

        @using (Html.BeginForm("SearchPaging", "Product", FormMethod.Get))
        {
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    @{
                        var list = new List<SelectListItem>
                        {
                                new SelectListItem {Text = "Search By", Value = "", Selected = true},
                                new SelectListItem {Text = "AlbumID", Value = "albumID"},
                                new SelectListItem {Text = "ProductID", Value = "id"},
                                new SelectListItem {Text = "ProductName", Value = "Name"}
                        };
                    }
                    @Html.DropDownList("searchBy", list,null,new {@class = "custom-select"})
                </div>
                @Html.TextBox("searchValue",null, new { @class= "form-control"})
                <div class="input-group-append">
                    <button id="btnSearch" type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                </div>
            </div>
        }

        <div id="search-result-container">
            <div id="product-container" class="d-flex flex-row flex-wrap justify-content-around">
                @Html.Partial("_ProductList",Model)
            </div>
            <div id="page-navigator" class="d-flex justify-content-center">
                @Html.PagedListPager(Model, page => Url.Action("SearchPaging",
                    new { page, searchBy = Request.QueryString["searchBy"], searchValue = Request.QueryString["searchValue"] }),
                    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })
            </div>

        </div>
    </div>
