<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--     <add name="ManageShopContext" connectionString="data source=.; initial catalog=ShopDB; integrated security=SSPI" providerName="System.Data.SqlClient" /> -->
    <add name="ManageShopContext" connectionString="data source=.\SQLEXPRESS; initial catalog=ShopDBV2; integrated security=SSPI" providerName="System.Data.SqlClient" />
    <!--<add name="ManageShopContext" connectionString="Data Source=34.66.80.33,1433;Initial Catalog=ShopDB;Integrated Security=False;User ID=sa;Password=Q1Ajv.CY83\]Po};MultipleActiveResultSets=False;Connection Timeout=30" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>