/*CUSTOMIZE UPLOADCARE BTN*/
.uploadcare--widget__text,
.uploadcare--progress {
    display: none;
}

/*UPLOADCARE BUTTON*/
.uploadcare--widget {
    height: 100%;
}

    .uploadcare--widget .uploadcare--widget__button {
        width: 100%;
        height: 100%;
    }


/*DEFAULT CARD STATE*/


#product-container .card {
    visibility: visible;
}

    #product-container .card .upload-progress-bar {
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        border: 1px dashed;
        width: 100%;
        height: 100%;
    }

        #product-container .card .upload-progress-bar .progress-wrapper {
            display: block;
            width: 100%;
            padding: 0 1rem;
        }

/*CARD LOADDING STATE*/

#product-container .card-loading {
    visibility: hidden;
}

    #product-container .card-loading .upload-progress-bar {
        visibility: visible;
    }



/*ALBUM MODAL*/

.container-fluid .album-container {
    width: 90%;
    margin: 2em auto;
}

#album-modal {
    min-width: 680px;
    max-width: 90%;
}

    #album-modal input,
    #album-modal textarea {
        border-radius: 0;
    }

    #album-modal #album-name-input {
        border-bottom: 1px dashed;
        font-weight: 700;
        font-style: italic;
    }

    #album-modal #album-desc-input {
        border-top: none;
        font-size: small;
    }

    #album-modal .modal-content {
        background-color: #e1e1e1;
    }

    #album-modal .modal-body {
        padding: 0;
    }

    #album-modal .container {
        max-width: 100%;
        padding: 0;
    }

        #album-modal .container > .row {
            margin: 0 0 0 0;
        }

    #album-modal input:focus,
    #album-modal textarea:focus {
        box-shadow: none;
    }

#product-container {
    margin: 0;
    background-color: #FFF;
    padding: 1rem 0 5rem 0;
}

    #product-container .card {
        width: 15rem;
        min-height: 180px;
    }

        #product-container .card .card-body {
            padding: 0;
        }

.btn-sm {
    font-size: 0.775rem;
}

.card-footer {
    padding: 0.75rem 0.25rem;
}

/*FOR INPUT TAG*/
.amsify-suggestags-area .amsify-suggestags-list {
    z-index: 100;
    width: 100%;
}

/*.amsify-suggestags-input-area form-control{
    font-size: 12px;
}*/

.amsify-suggestags-input {
    width: 100%;
}
