@model IEnumerable<ManageShop.Models.Product>




<div id="product-container" class="d-flex flex-row flex-wrap justify-content-around">
    @foreach (var product in Model)
    {

        //PRODUCT FORM
        <div class="card mx-2 my-2 shadow product-card" style="width: 18rem;">
            <img src="https://ucarecdn.com/@product.PhotoUUID/-/preview/950x950/-/filter/sorlen/-34/"
                 width="100%" height="180"
                 alt="Alternate Text" />
            @*<svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>*@
            <div class="card-body">
                @*SHOW INFO DIV*@
                <div id="info-container">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">
                        Price: $@product.Price
                    </p>
                    <p class="card-text">
                        Quantity: @product.Quantity
                    </p>
                </div>
            </div>
            <div class="card-footer text-right">
                @*TRIGGER EDIT PRODUCT MODE*@
                <button class="btn btn-secondary edit__btn" data-uuid="@product.PhotoUUID">Edit</button>
                @Html.ActionLink("Remove", "Remove", "Product", new { uuid = product.PhotoUUID }, new { @class = "btn btn-danger delete-link" })
            </div>
        </div>


    }
    
</div>
