@model ManageShop.Models.ViewModel.AlbumDetailViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ string albumId = Model.AlbumId;}

@section Styles {
    <link href="@Url.Content("~/Content/Album/DetailPage.css")" rel="stylesheet" type="text/css" />
}

@section Scripts
{
    <script>UPLOADCARE_PUBLIC_KEY = '49d4a35ffe4282af4c23';</script>
    <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.min.js" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/Album/Edit.js")"></script>
}

<h2>Detail</h2>

<div class="text-center  mx-2 my-2 ">
    <!-- Button trigger ADD NEW ALBUM modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-product__modal">
        Add new photo for this Album
    </button>
</div>

<!-- Modal -->
<div id="add-product__modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="add-product-form" action="/Product/Add" method="POST" onsubmit="submitHandler(event)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <textarea type="text" name="Name" rows="3" id="name" class="form-control" ></textarea>
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="number" name="Price" id="price" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="price">Quantity</label>
                        <input type="number" name="Quantity" id="price" class="form-control" />
                    </div>
                    <div class="d-flex">
                        <label>Image: </label>
                        <div class="mx-2">
                            <input type="hidden" role="uploadcare-uploader" id="uploadedImage" />
                        </div>
                    </div>
                    <input type="hidden" value="@albumId" name="AlbumId" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>


@Html.Partial("_ProductList",Model.Products)






