<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  <connectionStrings>

    <!--     <add name="ManageShopContext" connectionString="data source=.; initial catalog=ShopDB; integrated security=SSPI" providerName="System.Data.SqlClient" /> -->


    <add name="ManageShopContext"
         connectionString="data source=.\SQLEXPRESS; initial catalog=ShopDB; integrated security=SSPI" providerName="System.Data.SqlClient" />

    <!--<add name="ManageShopContext" connectionString="Data Source=34.66.80.33,1433;Initial Catalog=ShopDB;Integrated Security=False;User ID=sa;Password=Q1Ajv.CY83\]Po};MultipleActiveResultSets=False;Connection Timeout=30" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>